{% extends "base.html" %}
{%block title%}Dashboard{%endblock%}
{% block content %}
<h1>Dashboard</h1>

<div class="card">
    <h2>Bot Status</h2>
    <p>Online:
        {% if status.online %}
            ✅
        {% else %}
            ❌
        {% endif %}
    </p>

    <p>Guilds: {{ status.guilds }}</p>
    <p>
        Voice Connected:
        {% if status.voice_connected %}
            🎵 {{ status.voice_channel }}
        {% else %}
            No
        {% endif %}
    </p>
</div>

<form method="post" action="/join_vc">
    <select name="channel_id">
        {% for channel in channels %}
            {% if "🔊" in channel.name %}
            <option value="{{ channel.id }}">
                {{ channel.name }}
            </option>
            {% endif %}
        {% endfor %}
    </select>

    <button>Join VC</button>
</form>

<form method="post" action="/leave_vc">
    <button>Leave VC</button>
</form>
<form method="POST" action="/send_tts" class="panel-card">
    <h3>Send TTS</h3>
    <textarea name="text" placeholder="Text to speak" rows="4"></textarea>
    <button type="submit">Send TTS</button>
</form>
{% endblock %}