{% extends "base.html" %}

{% block title %}Sounds{% endblock %}
{% block content %}
<h1>Sounds</h1>

<form method="post" enctype="multipart/form-data">
    <label class="file-upload">
        Browse Sound
        <input type="file" name="file">
    </label>

    <button>Upload</button>
</form>

{% for file in files %}
<div class="sound-actions">
    <form method="post" action="/play">
        <input type="hidden"
               name="filename"
               value="{{ file }}">
        <button class="play-btn">Play</button>
    </form>

    <form method="post"
          action="/delete_sound/{{ file }}">
        <button class="delete-btn">
            Delete
        </button>
    </form>
</div>
{% endfor %}
{% endblock %}