{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
<h1>Users</h1>

<form method="post">
    <input name="username" placeholder="Username">
    <input name="password" placeholder="Password">

    <label><input type="checkbox" name="is_admin"> Admin</label>
    <label><input type="checkbox" name="can_upload"> Upload</label>
    <label><input type="checkbox" name="can_embed"> Embed</label>
    <label><input type="checkbox" name="can_vc"> VC</label>
    <label><input type="checkbox" name="can_sound"> Sound</label>

    <button>Create User</button>
</form>

<hr>

{% for user in users %}
<div class="card">
    {{ user["username"] }}
    <a href="/edit_user/{{ user['id'] }}">Edit</a>
</div>
{% endfor %}
{% endblock %}