{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
<h1>Users</h1>

<form method="post">
    <input name="username" placeholder="Username">
    <input name="password" placeholder="Password">

    <div class="perm-grid">
        <label class="switch-row">
            Admin
            <label class="switch">
                <input type="checkbox" name="is_admin">
                <span class="slider"></span>
            </label>
        </label>

        <label class="switch-row">
            Upload Files
            <label class="switch">
                <input type="checkbox" name="can_upload">
                <span class="slider"></span>
            </label>
        </label>

        <label class="switch-row">
            Send Embeds
            <label class="switch">
                <input type="checkbox" name="can_embed">
                <span class="slider"></span>
            </label>
        </label>

        <label class="switch-row">
            Join VC
            <label class="switch">
                <input type="checkbox" name="can_vc">
                <span class="slider"></span>
            </label>
        </label>

        <label class="switch-row">
            Play Sounds
            <label class="switch">
                <input type="checkbox" name="can_sound">
                <span class="slider"></span>
            </label>
        </label>
    </div>

    <button>Create User</button>
</form>

<hr>

{% for user in users %}
<div class="card">
    {{ user["username"] }}
    <a href="/edit_user/{{ user['id'] }}">Edit</a>
</div>
{% endfor %}
{% endblock %}